// Colors Variable
--dark-blue = #081023
--blue = #132349
--orange = #ff5800
--red = #CC081B
--green = #4DAF0C
--light-gray = #c4c4ca
--dark-gray = #8f8f8f

// Media Queries
--extra-small = 448px
--small = 448px
--medium = 768px
--large = 992px
--extra-large = 1200px

// Gutter size
--gap-xs = 8px
--gap-s = 16px
--gap-m = 24px
--gap-l = 32px
--gap-xl = 48px

// Miscallenous
--oleo-script = 'Oleo Script', cursive
--container-width = 1080px
--transition-option = .4s ease-in-out




// Vendor imports
@require 'vendor/normalize.css'
@require 'vendor/oleo-script.css'



// Mixins
above(size, dimension = 'width')
  @media (min-{dimension}: size)
    {block}


below(size, dimension = 'width')
  @media (max-{dimension}: size)
    {block}


responsivePadding(gutter-type = 'padding')
  {gutter-type}-left: --gap-xs
  {gutter-type}-right: --gap-xs

  +above(--small)
    {gutter-type}-left: --gap-s
    {gutter-type}-right: --gap-s

  +above(--medium)
    {gutter-type}-left: --gap-m
    {gutter-type}-right: --gap-m

  +above(--large)
    {gutter-type}-left: --gap-l
    {gutter-type}-right: --gap-l


cancelPadding()
  margin-right: -(--gap-xs)
  margin-left: @margin-right
  +above(--small)
    margin-right: 0
    margin-left: @margin-right


rem(int)
  unit(int / 16, 'rem')


hover(color-foreground = null, color-background = null)
  &.active
    transition: none

  if color-foreground
    &:hover, &.active
      color: color-foreground

  if color-background
    &:hover, &.active
      background-color: color-background

  if color-foreground and color-background
    transition: \
      background-color --transition-option,
      color --transition-option

  else if color-foreground
    transition: color --transition-option

  else if color-background
    transition: background-color --transition-option



// placeholders
$container-standard
  background-color: #fff !important
  box-shadow: 2px 2px 4px 0 hsla(--blue, .1);
  padding: --gap-s

  +above(--small)
    padding: --gap-m


.container
  max-width: --container-width
  margin: 0 auto


// Other imports
@require 'partial/main'
@require 'partial/header'
@require 'partial/nav'
@require 'partial/button'
@require 'partial/flash-message'
@require 'partial/pager'
@require 'partial/thumbnail'
@require 'partial/modal'
@require 'partial/basket'
@require 'partial/error'
@require 'partial/footer'
