// Colors Variable
--dark-blue = #081023
--blue = #1E2537
--orange = #EF3709
--red = #CC081B
--green = #4DAF0C

// Media Queries
--small = 576px
--medium = 768px
--large = 992px
--extra-large = 1200px

// Gutter size
--gutter-xs = 8px
--gutter-s = 16px
--gutter-m = 24px
--gutter-l = 32px
--gutter-xl = 48px

// Miscallenous
--container-width = 1080px


// Vendor imports
@require 'vendor/normalize.css'
@require 'vendor/oleo-script.css'



// Mixins
above(width)
  @media (min-width: width)
    {block}


below(width)
  @media (max-width: width)
    {block}


responsivePadding(gutter-type = 'padding')
  {gutter-type}-left: --gutter-s
  {gutter-type}-right: --gutter-s

  +above(--small)
    {gutter-type}-left: --gutter-m
    {gutter-type}-right: --gutter-m

  +above(--medium)
    {gutter-type}-left: --gutter-l
    {gutter-type}-right: --gutter-l

  +above(--large)
    {gutter-type}-left: --gutter-xl
    {gutter-type}-right: --gutter-xl



rem(int)
  unit(int / 16, 'rem')


hover(color-foreground = null, color-background = null)
  transition-option = .4s ease-in-out
  if color-foreground and color-background
    transition: \
      background-color transition-option,
      color transition-option
    &:hover, &.active
      color: color-foreground
      background-color: color-background

  else if color-foreground
    transition: color transition-option
    &:hover, &.active
      color: color-foreground

  else if color-background
    transition: background-color transition-option
    &:hover, &.active
      background-color: color-background



// placeholders
$display-font
  font-family: 'Oleo Script', cursive
  line-height: 1.2


$container-standard
  background-color: #fff !important
  box-shadow: 2px 2px 4px 0 hsla(--blue, .1);
  padding: --gutter-m --gutter-xs

  +above(--small)
    padding: --gutter-m --gutter-s

  +above(--medium)
    padding: --gutter-m --gutter-m



// Other imports
@require 'partial/init'
@require 'partial/header-and-footer'
@require 'partial/nav'
@require 'partial/error'
