.error__container
  @extends $container-standard
  text-align: center

  +above(--medium)
    display: grid
    grid-gap: --gap-m
    grid-template-columns: auto 1fr
    grid-template-rows: min-content 1fr min-content
    grid-template-areas: \
      "gif title" \
      "gif text" \
      "gif btn"

    .error__title, .error__text, .error__gif
      margin: 0


.error__title
  font-family: --oleo-script
  line-height: 1
  grid-area: title
  color: --red
  text-decoration: underline



.error__gif
  grid-area: gif
  max-height: 280px
  max-width: 100%
  border: 2px solid --dark-blue
  margin: auto
  display: block


.error__text
  grid-area: text
  font-weight: bold


.error__container > .btn
  margin: 0 auto
