.flash-msg
  padding: --gap-s --gap-l --gap-s --gap-s
  color: #fff
  margin: 0 auto
  border-radius: --border-radius
  border: 2px solid transparent
  position: relative
  font-weight: 600
  margin-bottom: --gap-xs
  font-size: rem(14px)

  &:last-of-type
    margin-bottom: --gap-l


.flash-msg__success
  background-color: lighten(--green, 80%)
  color: --green
  border-color: --green


.flash-msg__error
  background-color: lighten(--red, 80%)
  color: --red
  border-color: --red


.flash-msg__close-btn
  position: absolute
  top: --gap-xs; right: --gap-xs
  background-color: transparent
  border: none
  color: inherit


.flash-msg__close-btn::before
  content: 'x'
  font-size: 24px
  line-height: 1
  font-family: 'Comic Sans MS', cursive



.flash-msg__link
  font-weight: 600
  text-decoration: underline
