.footer
  @extends .header
  padding-top: --gap-m
  padding-bottom: @padding-top
  text-align: center

.footer__catch-phrase
  font-family: --oleo-script
  margin-bottom: --gap-xs

.footer__mentions
  font-size: rem(14px)


.footer__link
  color: --light-gray
  text-decoration: underline

  &:hover, &.active
    color: #fff
