.header
  responsivePadding()
  background-color: --blue
  color: #fff


.header__container
  +above(--small)
    display: grid
    grid-template-columns: auto rem(236px)


.logo-site
  font-family: --oleo-script
  padding-top: --gap-l
  padding-bottom: --gap-xl
  margin: 0 auto
  font-size: 0
  white-space: nowrap
  width: 190px
  order: 1

  +above(--small)
    padding-top: --gap-m
    padding-bottom: @padding-top
    margin: 0



.logo-site__svg
  fill: #fff

.logo-site__svg__bubble
  fill: --orange




.header__wrap-link
  display: flex
  order: 2
  cancelPadding()


.header__link
  // border-bottom: 2px solid --dark-blue
  hover(null, --orange)
  font-weight: bold
  flex-basis: 50%
  display: inline-flex
  justify-content: center
  align-items: center
  padding: --gap-xs
  text-align: center

  &:not(:last-child)
    border-right: @border-bottom

  +above(--small)
    padding: 0
