.nav
  responsivePadding()
  background-color: --dark-blue
  color: #fff;


.nav__container
  display: flex
  justify-content: center
  flex-wrap: wrap


.nav__link
  hover(null, --orange)
  font-weight: bold
  white-space: nowrap
  display: block
  padding: 8px 8px

  +above(--small)
    padding: 12px 8px

  +above(--extra-large)
    padding: 16px 16px
