.nav
  responsivePadding()
  background-color: --dark-blue
  color: #fff;


.nav__container
  display: flex
  justify-content: center
  flex-wrap: wrap


.nav__link
  hover(null, --orange)
  font-weight: bold
  padding: 12px
  white-space: nowrap
  display: block

  +above(--extra-large)
    padding: 12px --gap-s
