.footer
  @extends .header
  padding-top: --gutter-m
  padding-bottom: @padding-top
  text-align: center

.footer__catch-phrase
  font-family: 'Oleo Script', cursive

.footer__mentions
  font-size: rem(14px)
  a
    color: #c4c4ca
    text-decoration: underline
  a:hover
    color: #fff
