.header, .footer
  responsivePadding()
  background-color: --dark-blue
  color: #fff


.header
  padding-top: --gutter-m
  padding-bottom: @padding-top



.header__container
  display: grid
  grid-template-columns: auto repeat(2, max-content)
  align-items: center


.logo
  @extends $display-font
  // hover(--orange)
  margin: 0
  font-size: 0
  white-space: nowrap

.logo-site__svg
  fill: #fff
  max-width: 192px
  transition: fill --transition-option

  &:hover
    fill: --orange


.header__link
  hover(null, --orange)
  height: 100%
  display: inline-flex
  align-items: center
  padding: 0 --gutter-m
  font-weight: bold


.footer
  padding-top: --gutter-l
  padding-bottom: @padding-top
  @extends $display-font
  font-size: rem(24px)
  text-align: center
