.nav
  responsivePadding()
  background-color: --blue
  color: #fff;


.nav__container
  display: flex
  justify-content: center
  flex-wrap: wrap


.nav__link
  hover(null, --orange)
  font-weight: bold
  padding: --gutter-s --gutter-xs
  white-space: nowrap
  display: block

  +above(--extra-large)
    padding: --gutter-s
