.nav
  responsivePadding(false)
  background-color: --blue
  color: #fff;


.nav__container
  display: flex
  justify-content: center
  flex-wrap: wrap


.nav__link
  hover(null, --orange)


.nav__link
  font-weight: bold
  padding: --gutter-s
  white-space: nowrap
  display: block
